.root {
  .appbar {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 100px;
    box-shadow: 1px 1px 5px black;
    background-color: burlywood;
    padding: 0 15px;
    flex-grow: 1;
    .toolbar {
      padding: 0;
      .title {
        flex-grow: 1;
      }
    }
  }
}
